@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/Rubik-VariableFont_wght.ttf');
}

/* navbar classes below */

.navElement {
    height: 4.375rem;
    width: 100%;
    background-color: rgb(23, 206, 105);
    border-bottom: 0.125rem solid rgb(17, 56, 35);
}

.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
}

.navbarLogoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Kanit';
    width: 40%;
    padding-left: 2.188rem;
}

.navbarLogoContainerText {
    font-size: 2.5rem;
    margin: 0 0;
}

.navbarLoginButtonContainer {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.188rem;
}

.spotifyLoginButton {
    background-color: rgb(185, 244, 212);
    color: rgb(39, 44, 38);
    box-shadow: 0.125rem 0.2rem rgb(161, 215, 185);
    border-radius: 0.7rem;
    width: auto;
    height: 3rem;
    font-family: 'Kanit';
    transition-duration: 0.4s;
}

.spotifyLoginButton:active {
    background-color: rgb(117, 178, 145);
    box-shadow: 0 0;
    transition-duration: 0.2s;
    margin-top: 1.25rem;
    margin-bottom: 0.938rem;
}

.mmm {
    color:rgb(8, 52, 28);
}